/TheGenuine/src/main/res/config.json
*.py[cod]

# C extensions
*.so
*.iml

# Packages
*.egg
*.egg-info
dist
.idea
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.gradle
/local.properties
/.idea/*
.DS_Store

gradle.properties
